:root {
    --wf-red: #D71E28;
    --wf-gold: #FFC72C;
    --wf-dark-red: #AA0300;
    --wf-dark-gold: #E6B800;
    --wf-grey: #F7F7F7;
    --wf-light-grey: #EEEEEE;
    --wf-border: #DDD;
    --wf-text: #333;
}



html, body {
    font-family: 'Inter', Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: none;
    margin: 0;
    padding: 0;
    color: var(--wf-text);
}

